<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kwordle">


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_kwicon"
        android:label="@string/app_name"
        android:gravity="center"
        android:roundIcon="@drawable/ic_kwicon"
        android:supportsRtl="true"
        android:screenOrientation="sensorPortrait"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Opening"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".FiveLetterBoard"
            android:label="@string/title_page"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".Statistics"
            android:label="@string/statisticsTitle"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.popupTheme">
        </activity>


        <activity
            android:name=".PopCorrect"
            android:theme="@style/AppTheme.popupTheme">
        </activity>

        <activity
            android:name=".NewGamePopUp"
            android:theme="@style/AppTheme.popupTheme">
        </activity>


        <activity
            android:name=".Settings"
            android:theme="@style/AppTheme.popupTheme">
        </activity>

    </application>

</manifest>